{% extends "testbase.html" %}
{% load static%}
{% block title %} Services {% endblock title%}
{% block content %}
<!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Services</h5>
                <h1 class="display-4">Excellent Medical Services</h1>
            </div>
            <div class="row g-5 justify-content-center" >
                         <div class="col-lg-4">
                    <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 250px;">
                        <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                            <i class="fa fa-3x fa-user-md  text-white" style="transform: rotate(15deg);"></i>
                        </div>
                        <h6 class="mb-0">Discover your ideal doctor online for a personalized healthcare journey with confidence and ease</h6>
                        <a class="btn btn-dark rounded-pill py-1 px-3 me-1" href="{% url 'doctors_list' %}" target="_blank" style="margin-top: 20px;">Find Doctor</a>
                    </div>
                </div>
                       <div class="col-lg-4">
                    <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 250px;">
                        <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                            <i class="fa fa-3x fa-regular fa-user-nurse text-white" style="transform: rotate(15deg);"></i>
                        </div>
                        <h6 class="mb-0">Connect with your ideal nurse online for a personalized and seamless healthcare experience, instilling confidence</h6>
                         <a class="btn btn-dark rounded-pill py-1 px-3 me-1" href="{% url 'nurses_List' %}" target="_blank" style="margin-top: 20px;">Find Nurses</a>
                    </div>
                </div>
                    <div class="col-lg-4">
                    <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 250px;">
                        <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                            <i class="fa fa-3x a-regular fa-disease text-white" style="transform: rotate(15deg);"></i>
                        </div>
                        <h6 class="mb-0">Empower yourself with comprehensive disease information for confident and informed management</h6>
                        <a class="btn btn-dark rounded-pill py-1 px-3 me-1" href="{% url 'diseaseKnowledge' %}" target="_blank" style="margin-top: 20px;">Find Disease</a>
                    </div>
                </div>
           <div class="col-lg-4">
                    <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 250px;">
                        <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                            <i class="fa fa-3x a-regular fa-solid fa-user text-white" style="transform: rotate(15deg);"></i>
                        </div>
                        <h6 class="mb-0">Gain vital first aid knowledge online, empowering you to provide immediate assistance confidently..</h6>
                        <a class="btn btn-dark rounded-pill py-1 px-3 me-1"  href="{% url 'predict_image' %}" target="_blank"  style="margin-top: 20px;" >Know type of disease</a>
                    </div>
                </div>
                    <div class="col-lg-4">
                    <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 250px;">
                        <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                            <i class="fa fa-3x a-regular fa-solid fa-notes-medical text-white" style="transform: rotate(15deg);"></i>
                        </div>
                        <h6 class="mb-0">Gain vital first aid knowledge online, empowering you to provide immediate assistance confidently.</h6>
                        <a class="btn btn-dark rounded-pill py-1 px-3 me-1"  href="{% url 'fristAid' %}" target="_blank"  style="margin-top: 20px;" >Find First Aid</a>
                    </div>
                </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->





    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Testimonial</h5>
                <h1 class="display-4">Patients Say About Our Services</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="{% static 'img/testimonial-1.jpg' %}" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">A fantastic resource for reliable medical assistance! Find your ideal healthcare professional and gain knowledge about diseases and first aid.</p>
                            <hr class="w-25 mx-auto">
                            <h3>Patient Name</h3>
                            <h6 class="fw-normal text-primary mb-3">Profession</h6>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="{% static 'img/testimonial-2.jpg' %}" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">Highly recommended! This website provides convenient access to doctors, nurses, and valuable information about diseases and first aid.</p>
                            <hr class="w-25 mx-auto">
                            <h3>Patient Name</h3>
                            <h6 class="fw-normal text-primary mb-3">Profession</h6>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="{% static 'img/testimonial-3.jpg' %}" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">Revolutionize your approach to healthcare! This website offers seamless access to doctors, nurses, and invaluable information for enhanced health literacy and emergency preparedness.</p>
                            <hr class="w-25 mx-auto">
                            <h3>Patient Name</h3>
                            <h6 class="fw-normal text-primary mb-3">Profession</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock content %}